@import "../../globalColor";

.dark-mode {
  background-color: $darkBackground;
  color: white !important;
  transition: "0.1s";
}

.title-name{
  color: black;
  font-family: "potter";
  font-size: 60px;
  margin-top: 20px;
  }

  .loading-hand-outer{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
  }

  .loading-hand-inner{
    width : 500px !important;
  }

  @media (max-width: 768px) {
    .loading-hand-inner{
      width : 200px !important;
    }
  }
  
